*.DS_Store

/Applications
/BBTRepair.spf
/BTDropbox
/BTPhone
/BTPhoneTitaniumBackup
/BTSync
/DAS
/Desktop
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/P90X.Xtreme.Workout.Series.COMPLETE PACK.DVDrip.Xvid-SCP
/Pictures
/Public
/Shows
/Sick-Beard
/Sites
/Sites_blog
/Stuff
/VirtualBox VMs
/Warhammer Fantasy

/bad code examples
/bin
/build
/design_for_blog
/dwhelper
/forge
/git-sh
/go-pear.phar
/nist_fips.txt
/office for mac key.rtf
/other
/pear
/points query ordered more.csv
/practice
/projects
/states with names.csv
/sync_feral_cron.log
/sync_feral_log.log
/temp rtorrent
/test county parsed csv.txt
/test county python list.txt
/test county.csv
/test_counties.txt
/vim
/virus_removal.txt
/Your Deceptive Mind
/wordpress

.CFUserTextEncoding
.Trash
.Xauthority
.adobe
.bash_history
.bash_login
.cache
.config
.cups
.dropbox
.filezilla
.gem
.git
.irb-history
.keepassx
.lesshst
.mplayer
.mysql_history
.oh-my-zsh
.pearrc
.pgadmin_histoqueries
.pgpass
.php_history
.psi
.psql_history
.python-eggs
.rbenv
.rnd
.rvm
.sh_history
.smb
.ssh
.subversion
.unison
.viminfo
.vim/bundle
.wireshark
.wireshark-etc
.xbmc
.xinitrc
.zcompdump
.zlogin
.zsh-update
.zsh_history

